.espergen-character-sheet {
  font-size: 11px;
}

.espergen-character-sheet input[type=text] {
  background: none;
  border: none;
  width: 100%;
}

.espergen-character-sheet input[type=checkbox] {
  vertical-align: middle;
  margin-bottom: 2px;
  margin-right: 3px;
}

.espergen-character-sheet .espergen-page-title{
  font-size: 48px;
  color: #d4af37;
  font-weight: bold;
  font-family: monospace;
  text-transform: uppercase;
  line-height: 36px;
}
.espergen-character-sheet .espergen-page-subtitle {
  font-family: monospace;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 16px;
}

.espergen-character-sheet .upper1 {
  text-transform: uppercase;
  font-weight: bold;
}
.espergen-character-sheet .upper1 span {
  
  font-size: 150% !important;
}

.espergen-character-sheet textarea {
  width: 100%;
  border: none;
  resize: none;
}

.espergen-character-sheet textarea.espergen-linedtextarea
{
  line-height: 25px;
  background-image: linear-gradient(transparent, transparent calc(25px - 1px), rgb(0, 0, 0) 0px);
  background-size: 100% calc(25px - 0px);
  background-position-y: -2px;
}


.espergen-character-sheet input.espergen-linput {
  border: none;
  border-bottom: 1px solid rgb(100, 100, 100);
  color: black;
  width: 100%;
}

.espergen-character-sheet .espergen-circle {
  border: 4px dashed black;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.espergen-character-sheet .espergen-circle.solid {
  border: 2px solid black;
}

.espergen-character-sheet .espergen-circle .espergen-circle-inner {
  border: 10px solid #d4af37;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.espergen-character-sheet .espergen-circle input {
  font-size: 32px;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.espergen-character-sheet .espergen-statbox {
  background-color: black;
  border: 1px solid black;
  border-radius: 0 20px 20px 0;
  margin-bottom: 5px;
}
.espergen-character-sheet .espergen-statbox div {
  display: inline-block;
  vertical-align: middle;
}
.espergen-character-sheet .espergen-statbox .espergen-statbox-value {
  margin: 3px 0 3px 3px;
  background-color: white;
  padding: 5px 0;
  width: 40px;
  height: 40px;
}
.espergen-character-sheet .espergen-statbox .espergen-statbox-value input {
  text-align: center;
  font-size: 20px;
}
.espergen-character-sheet .espergen-statbox label {
  color: white;
  text-transform: uppercase;
  width: 100px;
  text-align: center;
  margin: 3px 0 0;
}
.espergen-character-sheet .espergen-statbox label.abbrev {
  margin-top: 0px;
  font-size: 16px;
  font-weight: bold;
}
.espergen-character-sheet .espergen-statbox hr {
  background-color: white;
  margin: 0;
}
.espergen-character-sheet .espergen-statbox .espergen-statbox-modifier {
  margin: 3px 45px 3px 0;
  background-color: white;
  border-radius: 50%;
  padding: 5px 0;
  width: 40px;
  height: 40px;
  padding: 5px;
  text-align: center;
  font-size: 20px;
}

.espergen-character-sheet .espergen-seperator {
  height: 2px;
  background-color: black;
  margin: 6px 0 2px;
}

.espergen-character-sheet .espergen-round-input {
  border: 2px solid black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
}
.espergen-character-sheet .espergen-round-input input {
  text-align: center;
  padding: 5px 0;
}
.espergen-character-sheet .espergen-round-input.large {
  height: 36px;
  width: 36px;
}
.espergen-character-sheet .espergen-round-input.large input {
  padding: 4px 0;
  font-size: 16px;
}

.espergen-character-sheet .espergen-inline-label {
  vertical-align: middle;
  margin: 5px 5px 5px 10px;
  display: inline-block;
}

.espergen-character-sheet .espergen-table {
  border-collapse: collapse;
  width: 100%;
}
.espergen-character-sheet .espergen-table th {
  text-align: center;
  font-weight: normal;
}
.espergen-character-sheet .espergen-table th:first-child {
  text-align: left;
}
.espergen-character-sheet .espergen-table td:not(:first-child) input {
  text-align: center;
}
.espergen-character-sheet .espergen-table td {
  border: 1px solid black;
}


.espergen-character-sheet .espergen-skill-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}
.espergen-character-sheet .espergen-skill-circle.active {
  background-color: rgb(207, 207, 207);
}
.espergen-character-sheet .espergen-skilllist {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.espergen-character-sheet .espergen-skill {
  padding: 1px 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.espergen-character-sheet .espergen-skill .espergen-skill-circle {
  margin: 3px 20px;
  float: right;
}
.espergen-character-sheet .espergen-skill input {
  border: 1px solid black;
  background-color: white;
  width: 40px;
  height: 25px;
  margin: 0px 10px 0 5px;
  text-align: center;
}
.espergen-character-sheet .espergen-skill label {
  margin-bottom: 0px;
  font-size: 14px;
}
.espergen-character-sheet .espergen-skill .espergen-skill-hint {
  margin-left: 4px;
  font-size: 14px;
}

.espergen-character-sheet .espergen-skilllist .espergen-skill:nth-child(odd) {
  background-color: rgb(208, 231, 243);
}

.espergen-character-sheet .espergen-page-break {
  background-color: #d4af37;
  height: 2px;
  margin: 2px 0;
}

.espergen-character-sheet input.espergen-binput {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  margin: 0 0;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}

.espergen-character-sheet .espergen-hex:before {
  content: " ";
  width: 0; height: 0;
  border-bottom: 30px solid #d4af37;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  position: absolute;
  top: -30px;
}
.espergen-character-sheet .espergen-hex {
  margin: 30px auto 0;
  width: 104px;
  height: 60px;
  background-color: #d4af37;
  position: relative;
}
.espergen-character-sheet .espergen-hex:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -30px;
  border-top: 30px solid #d4af37;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}

.espergen-character-sheet .espergen-hex .espergen-circle-inner {
  background-color: white;
  border-radius: 50%;
  width: calc(100% - 40px);
  height: 100%;
  border: 2px solid black;
  text-align: center;
  margin: 0 auto;
}
.espergen-character-sheet .espergen-hex input {
  font-size: 32px;
  width: 100%;
  padding: 5px 0;
  text-align: center;
}

.espergen-character-sheet .espergen-box {
  border: 1px solid black;
  padding: 4px;
}
.espergen-character-sheet .espergen-box.gray {
  border: none;
  background-color: rgb(210, 210, 210);
}
.espergen-character-sheet .espergen-box.gray input {
  background-color: white;
}


.espergen-character-sheet .deathsave {
  float: left;
  margin-right: -7px;
  margin-bottom: -13px;
}
.espergen-character-sheet .deathsave .left {
  float: left;
  width: 0;
  border-right: 7px solid rgb(210, 210, 210);
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  cursor: pointer;
}
.espergen-character-sheet .deathsave .middle {
  float: left;
  width: 15px;
  height: 26px;
  background: rgb(210, 210, 210);
  padding: 5px 0;
  cursor: pointer;
  color: rgb(0, 50, 255);
  text-align: center;
}
.espergen-character-sheet .deathsave.failure .middle {
  color: rgb(204, 10, 33);
}
.espergen-character-sheet .deathsave .right {
  float: left;
  width: 0;
  border-left: 7px solid rgb(210, 210, 210);
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  cursor: pointer;
}
.espergen-character-sheet .deathsave-row {
  clear: left;
}
.espergen-character-sheet .deathsave.even {
  margin-top: 14px;
  z-index: -1;
}

.espergen-character-sheet .deathsave.fake .left, .espergen-character-sheet .deathsave.fake .right {
  border-color: transparent;
}
.espergen-character-sheet .deathsave.fake .middle {
  background-color: transparent;
}

.espergen-character-sheet .deathsave.fake.even .left {
  border-right-color: black;
}
.espergen-character-sheet .deathsave.fake.even .right {
  border-left-color: black;
}
.espergen-character-sheet .deathsave.fake.even .middle {
  background-color: black;
}

.espergen-character-sheet .deathsave:not(.fake):hover {
  opacity: .7;
}

.espergen-character-sheet .deathsave.active .left {
  border-right-color: rgb(155, 172, 252);
}
.espergen-character-sheet .deathsave.active .right {
  border-left-color: rgb(155, 172, 252);
}
.espergen-character-sheet .deathsave.active .middle {
  background-color: rgb(155, 172, 252);
}
.espergen-character-sheet .deathsave.failure.active .left {
  border-right-color: rgb(252, 125, 125);
}
.espergen-character-sheet .deathsave.failure.active .right {
  border-left-color: rgb(252, 125, 125);
}
.espergen-character-sheet .deathsave.failure.active .middle {
  background-color: rgb(252, 125, 125);
}

.espergen-character-sheet .espergen-coin {
  border-radius: 50%;
  border: 2px black solid;
  background-color: #d4af37;
  height: 40px;
  width: 40px;
  display: inline-block;
  vertical-align: middle;
}

.espergen-character-sheet .espergen-talentlist {
  margin-bottom: 15px;
}
.espergen-character-sheet .espergen-talentlist .espergen-talent-header {
  border: 1px solid black;
  border-radius: 8px;
  position: relative;
  margin-bottom: 3px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  background-color: #d4af37;
}
.espergen-character-sheet .espergen-talentlist .espergen-talent-header .tp {
  position: absolute;
  right: 5px;
}
.espergen-character-sheet .espergen-talentlist table {
  width: 100%;
  position: relative;
}
.espergen-character-sheet .espergen-talentlist table .espergen-skill-circle {
  margin-left: 3px;
}
.espergen-character-sheet .espergen-talentlist table th {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 6px;
}
.espergen-character-sheet .espergen-talentlist table tr input {
  width: 100%;
  border-bottom: 1px solid rgb(150, 150, 150);
  font-size: 15px;
}
.espergen-character-sheet .espergen-talentlist table .espergen-talent-prepared {
  width: 25px;
}

.espergen-character-sheet .espergen-talentlist .espergen-talent-header-labels div {
  display: inline-block;
}
.espergen-character-sheet .espergen-talentlist .espergen-talent-header-labels label {
  margin-bottom: 0px;
  padding-bottom: 5px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 6px;
}

.espergen-character-sheet .espergen-technique-table {
  text-align: center;
}
.espergen-character-sheet .espergen-technique-table th:not(:first-child) {
  background-color: #d4af37;
  border: 1px solid black;
  padding-bottom: 5px;
}
.espergen-character-sheet .espergen-technique-table td:not(:first-child) {
  border: 1px solid black;
}
.espergen-character-sheet .espergen-technique-table td:first-child {
  font-size: 16px;
  padding: 5px;
}
.espergen-character-sheet .espergen-technique-table td input {
  text-align: center;
  font-size: 20px;
}